@font-face {
    font-family: 'Monaco';
    src: url('/Users/christiancebrero/Desktop/website/website/src/Monaco.ttf')
}
h1 {
    font-family: 'Monaco';
}

.description p {
    margin: 0 100px;
    font-size: 20px;
    line-height: 1.5cm;
    font-family: 'Monaco';
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 20px;
    }

    .description p {
        margin: 0;
        font-size: 15px;
        line-height: 45px;
        font-family: 'Monaco';
    }
  
  }