@font-face {
    font-family: 'Monaco';
    src: url('/Users/christiancebrero/Desktop/website/website/src/Monaco.ttf')
}


.banner {
    display: flex;
    align-items: flex-start;
}

.photo {
    display: inline-block;
}
.portrait {
    border-radius: 50%;
    width: 45%;
    height: 45%;
}

.portrait:hover {
    border-radius: 50%;
    width: 45%;
    height: 45%;
    opacity: 0.8;
}

.banner .typed {
    display: inline-block;
    justify-items: flex-end;
    margin: 18px 0;
}

.banner p {
    font-family: 'Monaco';
    font-size: 50px;
    letter-spacing: 1.5px;
}

.social-media-container div {
    margin: 20px 0;
    padding: 10px 0;
    display: inline-block;
}

.social-media-container .sm-icon {
    height: 30%;
    width: 30%;
}

.social-media-container .sm-icon {
    height: 30%;
    width: 30%;
}

.social-media-container .sm-icon:hover {
    height: 30%;
    width: 30%;
    opacity: 0.5;
}

@media only screen and (max-width: 900px) {
    .banner {
        flex-direction: column;
        align-items: center;
    }

    .social-media-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .social-media-container div {
        margin: 0;
    }

    .social-media-container .sm-icon {
        width: 50%;
        height: 75%;
    }
    
    .banner .typed {
        margin: 0;
        justify-items: flex-start;
        width: 100%;
    }

    .banner .typed p {
        font-size: 35px;
        justify-content: space-evenly;
        text-align: left;
    }
  
  }